:root {
    --hedding-font-family: 'Montserrat', sans-serif;
    --default-font-family: 'Roboto', sans-serif;
    --hedding-color: #fff;
    --default-color: rgba(255, 255, 255, 0.8);
    --primary-green-color: #008870 ;
}
