@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('./css/global.css');
@import url('./css/cssComponents.css') ;
/* @import '/node_modules/sal.js/dist/sal.css'; */

/* Start Lading SEction  */
.landing-section {
    width: 100%;
    position: relative;
}
.landing-section .header-section {
    padding: 10px 0;
    background-color: rgba(7, 7, 8, 0.8);
    backdrop-filter: blur(6px);
    position: fixed;width: 100%;
    top: 0;right: 0;
    z-index: 100;
}
.header-section .navbar .navbar-toggler {
    border: 1px solid white;
}
.header-section .navbar .navbar-toggler:focus {
    border-color: var(--primary-green-color);
    outline: none;
    box-shadow: none;
}
.header-section .navbar .nav-item a {
    font-size: 17px;
    transition: 0.5s;
}
.header-section .navbar .social-links a {
    transition: 0.5s;
    padding: 1px 4px;
}
.header-section .navbar .nav-item a.active,
.header-section .navbar .nav-item a:hover,
.header-section .navbar .social-links a:hover {
    color: var(--primary-green-color) !important;
    border-color: var(--primary-green-color) !important;
}
.header-section .nav-item .dropdown-menu li a:hover {
    background-color: #363636;
}

.landing-content {
    margin-top: 91px;
}
.landing-content .row h1 {
    color: var(--hedding-color);
    font-size: 4rem;
    letter-spacing: -0.02rem;
    line-height: 1.1;
}
@media (max-width: 992px){
    .landing-content .row h1 {
        font-size: 3rem ;
    }
}
@media (max-width: 768px) {
    .landing-content .row h1{
        font-size: 2.5rem;
    }
}
@media (max-width: 576px) {
    .landing-content .row h1 {
        font-size: 2rem;
    }
}
.landing-content .row p {
    color: var(--default-color);
    max-width: 600px;
    font-size: 22px;
}
@media (max-width: 576px) {
    .landing-content .row p {
        font-size: 18px;
    }
}
.hero-img img {
    transition: 2s;
}
.hero-img:hover img {
    transform: scale(1.08);
}

.hero-stats .box {
    padding: 2rem 1rem;
    background: #1f1f23;
    border-radius: 14px;
    color: white;
        box-shadow: 0 0 20px 2px #ffffff00;
    display: flex;flex-direction: column;
    align-items: center;justify-content: center;
    transition: 0.5s;
    border: 1px solid #505054;
}
.hero-stats .box:hover {
    box-shadow: 0 0 15px 2px #ffffff4f;
        transform: translateY(-5px);}
.hero-stats .box .stat-icon {
    width: 70px;
        height: 70px;
        border-radius: 50%;
        background: var(--primary-green-color);
        margin-bottom: 0.8rem;
        font-size: 33px;
        display: flex;
        align-items: center;
        justify-content: center;
}
.hero-stats .box .count {
    font-size: 3rem;
    font-weight: 900;
    font-family: var(--hedding-font-family);
    display: flex;
    align-items: center;
}
.hero-stats .box span.title {
        font-size: 20px;
            font-weight: bold;
            color: var(--default-color);
            transform: translateY(-11px);
}
/* End Lading SEction  */

.about-section {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding)
}

.about-content .content .experience-box {
    width: 150px;
    padding: 25px;
    background: var(--primary-green-color);
    border-radius: 12px;
    right: 50px;
    bottom: -50px;
    position: absolute;
    text-align: center;
    color: white;
}

.about-content .content .experience-box .years {
    font-weight: 900;
    font-size: 2.5rem;
    font-family: var(--hedding-font-family);
}

.about-content .content .experience-box .text {
    line-height: 1.1;
}

.about-content .features-title {
    font-weight: 900;
    line-height: 1.1;
    margin-bottom: 1rem;
}

.about-content .features-title+p {
    color: var(--default-color);
    margin-bottom: 2rem;
}

.about-content .features-item .icon {
    background-color: #061110;
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-green-color);
    transition: 0.2s;
}

.about-content .features-item .icon:hover {
    background-color: var(--primary-green-color);
    color: white;
    transform: translateY(-15px);
}

.about-content .features-item .info p {
    color: var(--default-color);
}

/* Start Service Section  */

.service-content .service-box {
    display: flex;
    background: var(--scondary-bg-color);
    border-radius: 20px;
    padding: 0;
    overflow: hidden;
    box-shadow: 0 0 20px #0088704f;
    position: relative;
}

.service-content .service-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    padding: 0 1.5rem;
    background-color: color-mix(in srgb, var(--primary-green-color), transparent 90%);
}

.service-content .service-info {
    padding: 1rem;
}

.service-content .service-info .service-number {
    content: "0" counter(box-count);
    font-size: 3rem;
    font-weight: 900;
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 10px;
    color: color-mix(in srgb, var(--heading-color), transparent 90%);
    font-family: var(--hedding-font-family);
}

.service-content .service-info h1 {
    font-size: 1.8rem;
}

.service-content .service-info p {
    font-size: 18px;
    color: var(--default-color);
}

.service-content .service-info a {
    color: var(--primary-green-color) !important;
}

.service-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px #0088705e;

    .service-icon {
        background-color: var(--primary-green-color);
    }

    .service-info i {
        margin-left: 8px;
    }

}

.service-content .cta-box {
    padding: 2rem;
    border-radius: 20px;
}
.service-content .cta-box .box {
    background-color: var(--primary-green-color);
    padding: 2rem 15px;
    border-radius: 15px;
}

@media (max-width: 768px) {
    .service-content .cta-box .box {
        flex-wrap: wrap !important;
        justify-content: center;
        text-align: center;
    }

    .service-content .the-btn {
        margin: auto;
        font-size: 18px;
    }
}
.service-content .cta-box .box-img img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid white
}

.service-content .cta-box .box-info h3 {font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1rem;}
.service-content .cta-box .box-info p {
    color: var(--default-color);
    margin-bottom: 2rem;
}
/* Start Service Section  */

/* Start Steps Section  */
.steps-section {
    overflow: hidden;
}

.steps-content .step-box {
    display: flex;
    gap: 2rem;
    position: relative;
    border-radius: 10px;
    background: linear-gradient(45deg, black -80%, var(--scondary-bg-color) 100%);
    padding: 30px;
    border: 1px solid #0088703b;
    transition: 0.3s;
}
@media (max-width: 425px) {
    .steps-content .step-box {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        text-align: center;
    }
}
.steps-content .step-box .step-number {
    left: -50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 900;
    font-size: 4rem;
    font-family: var(--hedding-font-family);
    color: #00887047;
    transition: 0.3s;
}
@media (max-width: 768px) {
    .steps-content .step-box .step-number {
        left: -20px;
    }
}
.steps-content .step-box .step-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    width: 70px;
    height: 70px;
    background: var(--primary-green-color);
    border-radius: 12px;
    flex-shrink: 0;
    transition: 0.3s;
}

.steps-content .step-box:hover {
    transform: translateX(1rem) !important;

    .step-number {
        top: 65%;
        color: var(--primary-green-color);
    }

    .step-icon {
        transform: rotate(20deg);
    }
}

/* End Steps Section  */
/* Start Testimonials Section  */
.testimonial-section {
    background-color: var(--section-bg-color);
}

.testimonial-section .testi-box {
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ffffff73;
    margin-bottom: 3rem;
    .top-content {
        padding: 20px;
        background-color: #37373e;
    }

    .top-content p {
        font-size: 16px;
    }

    .bottom-content {
        padding: 20px;
        background-color: #414148;
    }

    .bottom-content .stars {
        font-size: 16px;
        margin-bottom: 1rem;
        display: block;
        color: yellow;
    }

    .bottom-content .testi-info {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .bottom-content .testi-info img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 1px solid white;
    }

    .bottom-content .testi-info h4 {
        font-size: 20px;
        font-weight: 900;
    }

    .bottom-content .testi-info h5 {
        font-size: 16px;
        font-weight: 500;
        color: var(--default-color);
    }
}

/* Start Testimonials Section */

/* Start Portfolio Section  */

.portfolio-section .portfolio-filters-wrapper {
    margin: 0 auto 5rem;
}

.portfolio-section .portfolio-filters-wrapper .portfolio-filters {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0;
    width: fit-content;
    margin: auto;
    position: relative;
}
@media (max-width: 768px) {
    .portfolio-section .portfolio-filters-wrapper .portfolio-filters {
        gap: 0.4rem;
        flex-wrap: wrap;
    }
}
.portfolio-section .portfolio-filters-wrapper .portfolio-filters::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    height: 1px;
    background: #747474;
    z-index: 1;
}

.portfolio-section .portfolio-filters-wrapper .filter-item {
    padding: 10px 20px;
    color: rgb(187 184 184 / 80%);
    font-size: 16px;
    font-weight: 500;
    display: block;
    transition: 0.5s;
    z-index: 2;
    position: relative;
    cursor: pointer;
}
@media (max-width: 768px) {
    .portfolio-section .portfolio-filters-wrapper .filter-item {
        padding: 8px 10px;
        font-size: 14px;
        text-wrap-mode: nowrap;
    }
}
.portfolio-section .portfolio-filters-wrapper .filter-item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20.8px;
    background: var(--primary-green-color);
    height: 2px;
    transition: 0.5s;
    width: 0%;
    z-index: 2;
}

.portfolio-filters .filter-item.active {
    color: white;
}

.portfolio-filters .filter-item.active::after {
    width: 100%;
}

@media (max-width: 576px) {
    .portfolio-section .portfolio-filters-wrapper .filter-item::after {
        display: none;
    }
}

.portfolio-items .portfolio-item .portfolio-card {
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    background: var(--section-bg-color);
    height: 100%;
}

.portfolio-items .portfolio-item .portfolio-card .image-container {
    overflow: hidden;
    border-radius: 10px;
    aspect-ratio: 4 / 3;
}

.portfolio-items .portfolio-item .portfolio-card .image-container img {
    width: 100%;height: 100%;object-fit: cover;
}

.portfolio-items .portfolio-item .portfolio-card .image-container .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #008870a3;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    z-index: -1;
    opacity: 0;
}

.portfolio-items .portfolio-item .portfolio-card .image-container .overlay a {
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background: var(--bs-secondary-text-emphasis);
    border-radius: 50%;
    transition: 0.3s;
}

.portfolio-items .portfolio-item .portfolio-card .image-container .overlay a:hover {
    background-color: var(--primary-green-color);
}

.portfolio-items .portfolio-item .portfolio-card .content {
    padding: 30px 15px;
    text-align: center;
}

.portfolio-items .portfolio-item .portfolio-card .content h3 {
    font-size: 22px;
    transition: 0.3s;
}

.portfolio-items .portfolio-item .portfolio-card .content p {
    font-size: 16px;
    color: var(--default-color);
}

.portfolio-items .portfolio-item .portfolio-card:hover {
    transform: translateY(-10px);

    .image-container .overlay {
        opacity: 1;
        z-index: 1;
    }

    .image-container img {
        transform: scale(1.1);
    }

    .content h3 {
        color: var(--primary-green-color);
    }
}

/* End Portfolio Section */

/* STart Team Section  */
.team-content .team-members .team-member {
    border-radius: 10px;
    border: 1px solid transparent;
    background: var(--scondary-bg-color)
}

.team-section .team-content .team-members .team-member .img-container {
    border-radius: 10px;
    overflow: hidden;
    aspect-ratio: 4 / 4;
    position: relative;
}

.team-content .team-member .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team-content .team-member .img-container .overlay {
    width: 100%;
    height: 100%;
    background-color: #008870ab;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 0.5rem;
    transition: 0.5s;
    z-index: -1;
    opacity: 0;
}

.team-content .team-member .img-container .overlay a {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    border: 1px solid #dadada;
    margin-bottom: 1rem;
    background: #a2a2a2;
    font-size: 22px;
    transition: 0.3s;
}

.team-content .team-member .img-container .overlay a:hover {
    color: var(--primary-green-color) !important;
    background-color: white;
}

.team-content .team-member .member-info {
    text-align: center;
    padding: 20px;
}
.team-content .team-member .member-info span {
    font-weight: 600;
    margin-bottom: 0.5rem;
    display: block;
    color: var(--primary-green-color);
}

.team-content .team-member .member-info p {
    font-size: 15px;
    color: var(--default-color);
}


.team-content .team-member:hover {
    border-color: var(--primary-green-color);
    box-shadow: 0px 0px 20px 0px #0088708a;
    transform: translateY(-15px);

    .img-container img {
        transform: scale(1.2);
    }

    .img-container .overlay {
        z-index: 1;
        opacity: 1;
    }

    .member-info h4 {
        color: var(--primary-green-color);
    }
}

/* End Team Section */
/* STart pricing section  */
.pricing-section {}

.pricing-section .plan-box {
    padding: 2rem 10px;
    background: var(--scondary-bg-color);
    border-radius: 1rem;
    text-align: center;
    transition: 0.5s;
    height: 100%;
}

.pricing-section .plan-box.pro {
    background: #0088702e;
    border: 2px solid var(--primary-green-color);
}
.pricing-section .plan-box:hover {
    transform: translateY(-10px);
}
.pricing-section .plan-box .plan-content>h2 {
    font-weight: normal;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}
.pricing-section .plan-box.pro .plan-content h2 {
    color: var(--primary-green-color);
}
.pricing-section .plan-box .plan-content>h4 {}

.pricing-section .plan-box .plan-content>h4 sup {
    top: -20px;
    font-size: 1.4rem;
    color: var(--primary-green-color);
}

.pricing-section .plan-box .plan-content>h4 span {
    font-size: 3rem;
    font-weight: 900;
    color: var(--primary-green-color);
    margin: 0 10px;
}

.pricing-section .plan-box .plan-content ul li {
    text-align: start;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.pricing-section .plan-box .plan-content ul li.valid {
    i {
        color: var(--primary-green-color);
    }

    span {
        color: var(--default-color);
    }
}

.pricing-section .plan-box .plan-content ul li.invalid {
    i {
        color: #5e5e5e;
    }

    span {
        color: #5e5e5e;
    }
}

/* End pricing section */
/* Start faq section  */
.faq-wrapper {}

.faq-wrapper {}

.faq-wrapper .faq-item {
    background: var(--scondary-bg-color);
    border-radius: 10px;
    border-left: 6px solid transparent;
    transition: 0.4s;
}

.faq-wrapper .faq-item.faq-active,
.faq-wrapper .faq-item:hover {
    border-left-color: var(--primary-green-color);
}

.faq-item .faq-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 25px;
    cursor: pointer;
}

.faq-item .faq-header .faq-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #0088704a;
    text-align: center;
    line-height: 60px;
    font-size: 25px;
    flex-shrink: 0;
}

.faq-item.faq-active .faq-header .faq-toggle {
    i {
        background-color: var(--primary-green-color);
    }

    .fa-plus {
        opacity: 0;
    }

    .fa-minus {
        opacity: 1;
    }
}

.faq-item .faq-header .faq-toggle {
    position: relative;

    i {
        width: 30px;
        height: 30px;
        background: rgb(78 78 78 / 80%);
        border-radius: 50%;
        text-align: center;
        line-height: 30px;
        font-size: 16px;
        transition: 0.5s ease-out;
        position: absolute;
        top: 50%;
        left: 50;
        transform: translate(-50%, -50%);
    }

    .fa-plus {
        opacity: 1;
    }

    .fa-minus {
        opacity: 0;
    }
}

.faq-item.faq-active .faq-header {
    h4 {
        color: var(--primary-green-color);
    }

    .faq-icon {
        background-color: var(--primary-green-color);
    }
}

.faq-item .faq-content {
    display: grid;
    grid-template-rows: 0fr;
    visibility: hidden;
    transition: 0.3s ease-in-out;
    opacity: 0;
}

.faq-item.faq-active .faq-content {
    grid-template-rows: 1fr;
    visibility: visible;
    opacity: 1;
}

.faq-item .faq-content>div {
    padding: 0 25px 25px 25px;
    overflow: hidden;
}

.faq-content>div p {
    margin: 0;
    font-size: 18px;
    color: var(--default-color);
}
@media (max-width: 768px) {
    .faq-content h4 {
        font-size: 22px;
    }

    .faq-content>div p {
        font-size: 16px;
    }
}

/* Start faq section */
/* Start Contact Section  */
.contact-info-panel {
    padding: 20px;
    background: linear-gradient(145deg, #008870, color-mix(in srgb, #008870, #1a4372 40%));
    border-radius: 20px;
}

.contact-info-panel .contact-info-header {
    h3 {
        font-size: 1.4rem;
    }

    p {
        font-size: 15px;
        color: var(--default-color);
    }
}

.contact-info-card .card-content {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 100%;
    border-radius: 10px;
    transition: 0.3s;

    .icon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #c4c4c457;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
    }

    span {
        font-size: 18px;
        font-weight: 900;
    }

    p {
        font-size: 14px;
        color: var(--default-color);
    }
}

.contact-info-card .card-content:hover {
    background-color: rgba(255, 255, 255, 0.274);
    transform: translateY(-10px);
}

.contact-info-links span {
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 1rem;
}

.contact-info-links .links {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    a {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
    }

    a:hover {
        background-color: rgba(255, 255, 255, 0.274);
        transform: translateY(-8px);
    }
}

.contact-form-panel {}

.contact-form-panel .map-container {
    width: 100%;
    height: 250px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
    margin-bottom: 1rem;
    overflow: hidden;
}

.contact-form-panel .contact-form {
    padding: 25px;
    background-color: var(--scondary-bg-color);
    border-radius: 1rem;
}

.contact-form-panel .contact-form h4 {
    font-size: 25px;
    font-weight: 900;
}

.contact-form-panel .contact-form p {
    font-size: 16px;
    margin-bottom: 2rem;
    color: var(--default-color);
}

.contact-form-panel .contact-form form>div {
    position: relative;
}

.contact-form-panel .contact-form input,
.contact-form-panel .contact-form textarea {
    background: transparent;
    outline: none;
    border: 1px solid #6b6b6b;
    border-radius: 20px;
    padding: 1.5rem 0.8rem 0.8rem;
    width: 100%;
    margin-bottom: 1rem;
    color: white;
    font-size: 17px;
}

.contact-form-panel .contact-form textarea {
    width: 100%;
    height: 150px;
    resize: none;
}

.contact-form-panel .contact-form label {
    position: absolute;
    left: 0.8rem;
    top: 1.5rem;
    font-size: 18px;
    color: rgb(194 194 194 / 80%);
    transition: 0.3s;
}

.contact-form-panel .contact-form .input.filled+label,
.contact-form-panel .contact-form input:focus+label,
.contact-form-panel .contact-form textarea:focus+label {
    top: 0.3rem;
}

/* End Contact Section */
/* Footer Section  */
.footer-section {
    background-color: var(--section-bg-color);
}

.footer-section .footer-top .row>div {
    display: flex;
    gap: 0.5rem;

    .icon {
        font-size: 22px;
        color: var(--primary-green-color);
    }

    .content {
        font-size: 14px;
        color: var(--default-color);

        span {
            display: block;
            font-size: 18px;
            font-weight: 700;
            color: white;
            margin-bottom: 0.3rem;
        }

        .links {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            flex-wrap: wrap;

            a {
                font-size: 20px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: 1px solid #717171;
                color: #717171 !important;
                display: flex;align-items: center;justify-content: center;
            }
            a:hover {
                color: var(--primary-green-color) !important;
                border-color: var(--primary-green-color);
            }
        }
    }
}

.footer-section .footer-bottom {
    p {
        font-size: 15px;
        text-align: center;
        color: var(--default-color);
        line-height: 1.8;
    } a {
        font-size: 18px;
        font-weight: 600;
        color: var(--primary-green-color) !important;
        i {
            margin-right: 6px;
        }
    }
}
